/* global */

* {
    padding: 0;
    margin: 0;
}

/* :root {
    --cardBG: #FFFFFF;
    --height-bar: 90px;
} */


body {
    font-family: 'Elle Futura', 'Trebuchet MS', Arial, 'Roboto', 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    min-width: 1200px;
}

header {
    height: 90px;
    width: 100%;
}

nav {
    display: flex;
    float: right;
}

h1 {
    font-size: 30px;
    font-weight: 50;
    justify-content: center;
}

h2 {
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    width: auto;
    height: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

figure { /* card images */
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;
    object-fit: contain;
}

a:link {
    color: black;
    text-decoration: none;
}
    
a:visited {
    color: black;
    text-decoration: none;
}
    
a:hover {
    color: #BAA58A;
    text-decoration: none;
}
    
a:active {
    color: #BAA58A;
    text-decoration: none;
}
    
 /* end global */

/* header, nav, + links */
.header {
    background-color: #FFFFFF;
    height: 90px;
    width: 100%;
    border-style: solid;
    border-color: black;
    /* border-bottom: transparent; */
    border-width: 2px 2px 2px 2px;
    display: flex;
    white-space: nowrap;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
}

.headwrapper {
    width: 25%;
    height: 90px;
    border-style: solid;
    border-color: black;
    border-width: 0px 4px 0px 0px;
    float: left;
    background-color: #DED7CF;
    min-width: 310px;
}

.headwrapper h1 {
    margin: 9% 14% 8% 14%;
}

nav.home {
    width: auto;
}    

.header nav ul {
    /* width: 500px; */
    display: flex;
    float: right; 
    margin: 36px 30px 20px 34px;
    background-color: #FFFFFF; 
} 

.header nav ul li {
    width: 60px;
    height: 30px;
    padding: 0px 23px 0px 23px;
    display:flex;
    justify-content: flex-end;
}

/* main content */
.contents {
    height: auto;
    width: 100%;
    background:black;
    display: flex; 
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}

.card {
    width: 33%;
    height: 475px;
    margin: 1px 2px 2px 2px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #FFFFFF;
    text-align: center;
    /* float: left; */
    /* flex-grow: 1;
    flex-shrink: 1; */
}

/* card labels */
.card h2 {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* hero card */
#c0 {
    background-image: url("../images/portfolio1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* position:static;
    z-index: 0; */
}

/* about card*/
#c1 h1 {
    font-size: 30px;
    padding-top: 105px;
    padding-bottom: 20px;
}

#c1 p {
    padding: 5px;
}

/*my studio card */
#c2 {
    background-image: url("../images/studio.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#c2 h2 {
    color: #FFFFFF;
}

/* my pup stark card */
#c5 {
    background-image: url("../images/portfolio2resized.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#whitetxt h2 {
    color: #FFFFFF;
}

/* margin for bottom cards */
#c9, #c10, #c11 {
    margin-bottom: 3px;
}

/* bottom nav bar */
.bar {
    border-style: solid;
    border-color: black;
    border-width: 3px 3px;
    display: flex;
    position: relative;
    background-color: #FFFFFF;
    width: 33%;
    /* flex-grow: 1;
    flex-shrink: 1; */
    text-align: center;
    height: 100px;
}

nav.links {
    display: flex;
    padding-bottom: 100px;
}

a.center {
    font-size: 30px;
    width: auto;
    height: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* about */
.about {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 125px;
    padding-bottom: 125px;
    padding-left: 12%;
    padding-right: 12%;
    width: 75%;
}

.about h1 {
    width: 75%;
    padding-left: 3.2%;
    padding-bottom: 3%;
}

.aboutwrapper {
    display: flex;
    /* flex-wrap: wrap; MOBILE */
}

.aboutcontent {
    display: flex; 
    flex-direction: column;
    margin: 0 30px;
    width: 500px;
}

a.view {
    text-decoration: underline;
}

/* projects */

.projects {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 150px;
    padding-bottom: 200px;
    padding-left: 12%;
    padding-right: 12%;
    width: 75%;
}

.projects h1 {
    width: 75%;
    padding-left: 3.2%;
    padding-bottom: 3%;
}

.projectwrapper {
    display: flex;
    /* flex-wrap: wrap; MOBILE */
}

img#proj1 {
    height: 300px;
    width: 400px;
}

img#proj2 {
    height: 300px;
    width: 395px;
}

.projectcontent {
    display: flex; 
    flex-direction: column;
    margin: 0 30px;
    width: 500px;
}

footer {
    background-color: #F2F2F2;
    height: 90px;
    width: 100%;
    border-style: solid;
    border-color: black;
    border-width: 3px 2px 2px 2px;
}
