/* global */
body {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 980px;
}

header {
    height: 90px;
    width: 100%;
}

nav {
    display: flex;
    float: right;
}

h1 {
    font-size: 30px;
    font-weight: 400;
    justify-content: center;
    line-height: 1.25;
}

h2 {
    /* font-family: 'Open Sans'; */
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    width: auto;
    height: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

h3 {
    font-size: 17px;
    font-weight: 400;
}

p {
    font-size: 17px;
    font-weight:100;
}

figure { /* card images */
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;
    object-fit: contain;
}

figure.img {
    display: flex;
    flex: 1 2 33%;
}

a:link {
    color: black;
    text-decoration: none;
}
    
a:visited {
    color: black;
    text-decoration: none;
}
    
a:hover {
    color: #BAA58A;
    text-decoration: none;
}
    
a:active {
    color: #BAA58A;
    text-decoration: none;
}
    
 /* end global */

/* header, nav, + links */
.header {
    background-color: #FFFFFF;
    height: 90px;
    border-style: solid;
    border-color: black;
    /* border-bottom: transparent; */
    border-width: 2px 2px 2px 2px;
    display: flex;
    white-space: nowrap;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
}

.headwrapper {
    width: 25%;
    height: 90px;
    border-style: solid;
    border-color: black;
    border-width: 0px 4px 0px 0px;
    float: left;
    background-color: #DED7CF;
    min-width: 310px;
}

.headwrapper h1 {
    box-sizing:border-box;
    position: relative;
    top: 33%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.navwrapper {
    box-sizing: border-box;
    height: 90px;
    width: 50%;
    margin: 37px 15px 0 25px;
    justify-content: flex-end;
}    

ul {
    box-sizing: content-box;
    display: flex;
    width: fit-content;
    height:fit-content;    
} 

.header nav ul li {
    width: auto;
    height: 30px;
    padding: 0px 23px 0px 23px;
    display:flex;
    justify-content: flex-end;
}

/* main content */
.contents {
    height: auto;
    width: 100%;
    background:black;
    display: flex; 
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}

.card {
    box-sizing: border-box;
    width: 33%;
    height: 475px;
    margin: 1px 2px 2px 2px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #FFFFFF;
    text-align: center;

}

/* == global card text */
.card h2 {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#whitetxt {
    color: #FFFFFF;
}

/* hero card */
#c0 {
    background-image: url("../images/portfolio1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* about card*/
#c1 h1 {
    font-size: 30px;
    padding-top: 105px;
    padding-bottom: 20px;
}

#c1 p {
    padding: 5px;
}

/*my studio card */
#c2 {
    background-image: url("../images/studio.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#c2 h2 {
    color: #FFFFFF;
}

#c3 {
    background-image: url("../images/style.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#c4 {
    background-color: #DED7CF;
}

/* my pup stark card */
#c5 {
    background-image: url("../images/portfolio2resized.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* education card */
#c6 {
    background-color: #D8E3E7;
}

#c6 h4 {
    margin: 95px 0px 10px 0px;
}

#c6 h4.spacing {
    margin-top: 0px;
}

p.downarrow {
    margin: 10px 0px 20px 0px;
    font-size: 50px;
    color: white;
}

#c7 h1 {
    font-size: 30px;
    padding-top: 120px;
    padding-bottom: 35px;
}
    
#c7 p {
    padding: 5px;
}

#c8 {
    background-color: #1A1A1A;
}

#skillswrapper {
    margin-top: 80px;
    margin-left: 90px;
}

#c8 h4 {
    color: white;
    margin-bottom: 35px;
    float: left;
    clear: left;
}

h4 img {
    width: 30px;
    height: 30px;
}

h4 span {
    position: relative;
    bottom: 8px;
    left: 13px;
}

/* bottom nav bar */
.bar {
    border-style: solid;
    border-color: black;
    border-width: 3px 3px;
    display: flex;
    position: relative;
    background-color: #FFFFFF;
    width: 33%;
    text-align: center;
    height: 100px;
}

nav.links {
    display: flex;
    padding-bottom: 100px;
}

a.center {
    font-size: 30px;
    width: auto;
    height: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* about section */
.about {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 125px;
    padding-bottom: 125px;
    padding-left: 12%;
    padding-right: 12%;
    width: fit-content;
}

.about h1 {
    width: 80%;
    margin: 0 2% 0 8%;
    font-size: 25px;
}

.aboutwrapper {
    display: flex;
    justify-content: center;
}

.aboutcontent {
    display: flex; 
    flex-direction: column;
    margin: 2%;
    width: 40%;
}

a.view {
    text-decoration: underline;
}

/* projects section */
.projects {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 100px;
    padding-bottom: 200px;
    padding-left: 15%;
    padding-right: 15%;
    width: fit-content;
}

.projects h1 {
    width: 80%;
    margin: 0 2% 0 8%;
    font-size: 25px;
}

.projectwrapper {
    display: flex;
    justify-content: center;
}

.projectcontent {
    display: flex; 
    flex-direction: column;
    margin: 2%;
    width: 40%;
}

.thumbnail:hover {
    width: 100%;
    height: auto;
    display: block;
    z-index: 999;
}

footer {
    background-color: #F2F2F2;
    height: 90px;
    width: 100%;
    border-style: solid;
    border-color: black;
    border-width: 3px 2px 2px 2px;
}

p.center {
    display: flex;
    justify-content: center;
    padding: 27px;
}

@media only screen and (max-width: 756px) {
    .card {
        width: 100%;
    }
}